<div>

  <!-- open new sub-window - not call a method to save word! -->
  <!--  it should be выпадающий block, when click "add word" button at parent component -->


  <div>

    <H1 *ngIf="!modifyWord">{{word.name}}</H1>

    <div style="border-left: black" *ngFor="let part of word.parts; let idx = index">
      <h2>Part of speech:</h2>
      <input type="text" class="form-control" placeholder="part of speech..." [(ngModel)]="part.name">
      <div style="margin-left: 1rem">
        <h3>Definitions:</h3>
        <div style="margin-left: 1rem; border: rgb(169 222 232) 3px dotted;margin-bottom: 1rem;"
             *ngFor="let definition of part.definitions; let index = index">
          <h4>def#{{index + 1}}</h4>
          <input type="text" class="form-control" placeholder="definition..." [(ngModel)]="definition.name">

          <div style="margin-left: 2rem; margin-bottom: 1rem;">
            <h4>Phrases:</h4>
            <div *ngFor="let phrase of definition.phrases">
              <input type="text" class="form-control" placeholder="phrase..." [(ngModel)]="phrase.name">
              <!--value="{{phrase.name}}">-->
            </div>
            <button *ngIf="modifyWord" class="btn" (click)="addPhrase(part, index)">add new Phrase</button>
          </div>
        </div>
        <button *ngIf="modifyWord" style="margin-bottom: 1rem;" class="btn" (click)="addDefinition(part)">add new Definition</button>

        <h3>Synonyms:</h3>
        <div style="margin-left: 1rem" *ngFor="let synonym of part.synonyms">
          <input type="text" class="form-control" placeholder="synony..." [(ngModel)]="synonym.name">
        </div>
        <button *ngIf="modifyWord" style="margin-bottom: 1rem;" class="btn" (click)="addSynonym(part)">add new synonym</button>
        <h3>Antonyms:</h3>
        <div style="margin-left: 1rem" *ngFor="let antonym of part.antonyms">
          <input type="text" class="form-control" placeholder="antonym..." [(ngModel)]="antonym.name">
        </div>
        <button *ngIf="modifyWord" style="margin-bottom: 1rem;" class="btn" (click)="addAntonym(idx)">add new antonym</button>

      </div>
    </div>
    <button *ngIf="modifyWord" style="margin-bottom: 1rem;" class="btn" (click)="addPart()">add new part</button>
  </div>

  <button *ngIf="modifyWord" class="btn" (click)="addNewWord()">Save</button>
</div>
