<div>

  <div class="border">
    <app-search-line (prefixUpdated)="findWordByPrefix($event)"></app-search-line>

    <div *ngIf="!wordNotFound() ; else noWords">
      <p>Results from DB:</p>
      <app-word *ngFor="let word of wordsFound" [word]="word"></app-word>
    </div>

    <!-- на самом деле логика сложнее - если в возвращенном списке нет точно такого же слова - тогда появится кнопка добавить -->
    <ng-template #noWords>
      <app-add-word [wordToSave]="searchedPrefix"></app-add-word>
    </ng-template>


    <button style="margin-bottom: 1rem;" class="btn">Find a word in an internet</button>
    <p>definition from internet / or info that no definitions found</p>


  </div>
</div>
