<div>

  <div class="border">
    <app-post-form (searchFieldUpdated)="findWordByPrefix($event)"></app-post-form>


    <div *ngIf="representedResult.length > 0 ; else noWords">
      <p>Results from DB:</p>
      <app-word *ngFor="let word of representedResult" [word]="word"></app-word>
    </div>

  
    <!-- на самом деле логика сложнее - если в возвращенном списке нет точно такого же слова - тогда появится кнопка добавить -->
    <ng-template #noWords>
      
      <app-add-word style=" position: absolute; bottom: 3rem;" [wordToSave]="searchedWord">
      </app-add-word>
    </ng-template>


    <button style="margin-bottom: 1rem;" class="btn">Find a word in an internet</button>
    <p>definition from internet / or info that no definitions found</p>


  </div>
</div>