<div class="container">
  <div>
    <app-search-line (prefixUpdated)="findWordByPrefix($event)"></app-search-line>


    <p>Results from DB:</p>
    <app-add-word *ngFor="let word of wordsFound" [word]="word" [modifyWord] = false></app-add-word>

    <!-- на самом деле логика сложнее - если в возвращенном списке нет точно такого же слова - тогда появится кнопка добавить -->
    <button class="btn" (click)="addNewWordClicked()">
      {{addNewWordOrHideForm}}
    </button>

    <div *ngIf="showAddNewWord">
      <app-add-word [wordToSave]="searchedPrefix"></app-add-word>
    </div>


    <!--    <button style="margin-bottom: 1rem;" class="btn">Find a word in an internet</button>-->
    <!--    <p>definition from internet / or info that no definitions found</p>-->


  </div>
</div>
